@font-face {
    font-display: swap;
    font-family: 'SF UI Text';
    src: url('/fonts/SanFrancisco/SFUIText-HeavyItalic.eot');
    src: local('SF UI Text Heavy Italic'), local('SFUIText-HeavyItalic'),
    url('/fonts/SanFrancisco/SFUIText-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SanFrancisco/SFUIText-HeavyItalic.woff') format('woff'),
    url('/fonts/SanFrancisco/SFUIText-HeavyItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Text';
    src: url('/fonts/SanFrancisco/SFUIText-LightItalic.eot');
    src: local('SF UI Text Light Italic'), local('SFUIText-LightItalic'),
    url('/fonts/SanFrancisco/SFUIText-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SanFrancisco/SFUIText-LightItalic.woff') format('woff'),
    url('/fonts/SanFrancisco/SFUIText-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Text';
    src: url('/fonts/SanFrancisco/SFUIText-MediumItalic.eot');
    src: local('SF UI Text Medium Italic'), local('SFUIText-MediumItalic'),
    url('/fonts/SanFrancisco/SFUIText-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SanFrancisco/SFUIText-MediumItalic.woff') format('woff'),
    url('/fonts/SanFrancisco/SFUIText-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Display';
    src: url('/fonts/SanFrancisco/SFUIDisplay-Medium.eot');
    src: local('SF UI Display Medium'), local('SFUIDisplay-Medium'),
    url('/fonts/SanFrancisco/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SanFrancisco/SFUIDisplay-Medium.woff') format('woff'),
    url('/fonts/SanFrancisco/SFUIDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Display';
    src: url('/fonts/SanFrancisco/SFUIDisplay-Regular.eot');
    src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'),
    url('/fonts/SanFrancisco/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SanFrancisco/SFUIDisplay-Regular.woff') format('woff'),
    url('/fonts/SanFrancisco/SFUIDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Display';
    src: url('/fonts/SanFrancisco/SFUIDisplay-Light.eot');
    src: local('SF UI Display Light'), local('SFUIDisplay-Light'),
    url('/fonts/SanFrancisco/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SanFrancisco/SFUIDisplay-Light.woff') format('woff'),
    url('/fonts/SanFrancisco/SFUIDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Display';
    src: url('/fonts/SanFrancisco/SFUIDisplay-Thin.eot');
    src: local('SF UI Display Thin'), local('SFUIDisplay-Thin'),
    url('/fonts/SanFrancisco/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SanFrancisco/SFUIDisplay-Thin.woff') format('woff'),
    url('/fonts/SanFrancisco/SFUIDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Display';
    src: url('/fonts/SanFrancisco/SFUIDisplay-Ultralight.eot');
    src: local('SF UI Display Ultralight'), local('SFUIDisplay-Ultralight'),
    url('/fonts/SanFrancisco/SFUIDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SanFrancisco/SFUIDisplay-Ultralight.woff') format('woff'),
    url('/fonts/SanFrancisco/SFUIDisplay-Ultralight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Text';
    src: url('/fonts/SanFrancisco/SFUIText-Semibold.eot');
    src: local('SF UI Text Semibold'), local('SFUIText-Semibold'),
    url('/fonts/SanFrancisco/SFUIText-Semibold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SanFrancisco/SFUIText-Semibold.woff') format('woff'),
    url('/fonts/SanFrancisco/SFUIText-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Display';
    src: url('/fonts/SanFrancisco/SFUIDisplay-Semibold.eot');
    src: local('SF UI Display Semibold'), local('SFUIDisplay-Semibold'),
    url('/fonts/SanFrancisco/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SanFrancisco/SFUIDisplay-Semibold.woff') format('woff'),
    url('/fonts/SanFrancisco/SFUIDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Text';
    src: url('/fonts/SanFrancisco/SFUIText-Regular.eot');
    src: local('SF UI Text Regular'), local('SFUIText-Regular'),
    url('/fonts/SanFrancisco/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SanFrancisco/SFUIText-Regular.woff') format('woff'),
    url('/fonts/SanFrancisco/SFUIText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Display';
    src: url('/fonts/SanFrancisco/SFUIDisplay-Black.eot');
    src: local('SF UI Display Black'), local('SFUIDisplay-Black'),
    url('/fonts/SanFrancisco/SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SanFrancisco/SFUIDisplay-Black.woff') format('woff'),
    url('/fonts/SanFrancisco/SFUIDisplay-Black.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Text';
    src: url('/fonts/SanFrancisco/SFUIText-BoldItalic.eot');
    src: local('SF UI Text Bold Italic'), local('SFUIText-BoldItalic'),
    url('/fonts/SanFrancisco/SFUIText-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SanFrancisco/SFUIText-BoldItalic.woff') format('woff'),
    url('/fonts/SanFrancisco/SFUIText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Text';
    src: url('/fonts/SanFrancisco/SFUIText-Bold.eot');
    src: local('SF UI Text Bold'), local('SFUIText-Bold'),
    url('/fonts/SanFrancisco/SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SanFrancisco/SFUIText-Bold.woff') format('woff'),
    url('/fonts/SanFrancisco/SFUIText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Display';
    src: url('/fonts/SanFrancisco/SFUIDisplay-Heavy.eot');
    src: local('SF UI Display Heavy'), local('SFUIDisplay-Heavy'),
    url('/fonts/SanFrancisco/SFUIDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SanFrancisco/SFUIDisplay-Heavy.woff') format('woff'),
    url('/fonts/SanFrancisco/SFUIDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Text';
    src: url('/fonts/SanFrancisco/SFUIText-Light.eot');
    src: local('SF UI Text Light'), local('SFUIText-Light'),
    url('/fonts/SanFrancisco/SFUIText-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SanFrancisco/SFUIText-Light.woff') format('woff'),
    url('/fonts/SanFrancisco/SFUIText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Text';
    src: url('/fonts/SanFrancisco/SFUIText-Heavy.eot');
    src: local('SF UI Text Heavy'), local('SFUIText-Heavy'),
    url('/fonts/SanFrancisco/SFUIText-Heavy.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SanFrancisco/SFUIText-Heavy.woff') format('woff'),
    url('/fonts/SanFrancisco/SFUIText-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Text';
    src: url('/fonts/SanFrancisco/SFUIText-Medium.eot');
    src: local('SF UI Text Medium'), local('SFUIText-Medium'),
    url('/fonts/SanFrancisco/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SanFrancisco/SFUIText-Medium.woff') format('woff'),
    url('/fonts/SanFrancisco/SFUIText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Display';
    src: url('/fonts/SanFrancisco/SFUIDisplay-Bold.eot');
    src: local('SF UI Display Bold'), local('SFUIDisplay-Bold'),
    url('/fonts/SanFrancisco/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SanFrancisco/SFUIDisplay-Bold.woff') format('woff'),
    url('/fonts/SanFrancisco/SFUIDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Text';
    src: url('/fonts/SanFrancisco/SFUIText-Italic.eot');
    src: local('SF UI Text Italic'), local('SFUIText-Italic'),
    url('/fonts/SanFrancisco/SFUIText-Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SanFrancisco/SFUIText-Italic.woff') format('woff'),
    url('/fonts/SanFrancisco/SFUIText-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-display: swap;
    font-family: 'SF UI Text';
    src: url('/fonts/SanFrancisco/SFUIText-SemiboldItalic.eot');
    src: local('SF UI Text Semibold Italic'), local('SFUIText-SemiboldItalic'),
    url('/fonts/SanFrancisco/SFUIText-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SanFrancisco/SFUIText-SemiboldItalic.woff') format('woff'),
    url('/fonts/SanFrancisco/SFUIText-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-display: swap;
    font-family: 'Proxima Nova';
    src: url('/fonts/Proxima-Nova/ProximaNova-Bold/Proxima-Nova_Bold.woff2') format('woff2'),
    url('/fonts/Proxima-Nova/ProximaNova-Bold/Proxima-Nova_Bold.woff') format('woff'),
    url('/fonts/Proxima-Nova/ProximaNova-Bold/Proxima-Nova_Bold.otf') format('opentype'),
    url('/fonts/Proxima-Nova/ProximaNova-Bold/Proxima-Nova_Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-display: swap;
    font-family: 'ProximaNovaLight';
    src: url('/fonts/Proxima-Nova/ProximaNova-Light/Proxima-Nova_Light.woff2') format('woff2'),
    url('/fonts/Proxima-Nova/ProximaNova-Light/Proxima-Nova_Light.woff') format('woff'),
    url('/fonts/Proxima-Nova/ProximaNova-Light/Proxima-Nova_Light.otf') format('opentype'),
    url('/fonts/Proxima-Nova/ProximaNova-Light/Proxima-Nova_Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-display: swap;
    font-family: 'Proxima Nova';
    src: url('/fonts/Proxima-Nova/ProximaNova-Medium/Proxima-Nova_Medium.woff2') format('woff2'),
    url('/fonts/Proxima-Nova/ProximaNova-Medium/Proxima-Nova_Medium.woff') format('woff'),
    url('/fonts/Proxima-Nova/ProximaNova-Medium/Proxima-Nova_Medium.otf') format('opentype'),
    url('/fonts/Proxima-Nova/ProximaNova-Medium/Proxima-Nova_Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-family: 'Proxima Nova';
    src: url('/fonts/Proxima-Nova/ProximaNova-Regular/Proxima-Nova_Regular.woff2') format('woff2'),
    url('/fonts/Proxima-Nova/ProximaNova-Regular/Proxima-Nova_Regular.woff') format('woff'),
    url('/fonts/Proxima-Nova/ProximaNova-Regular/Proxima-Nova_Regular.otf') format('opentype'),
    url('/fonts/Proxima-Nova/ProximaNova-Regular/Proxima-Nova_Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-family: 'Proxima Nova';
    src: url('/fonts/Proxima-Nova/ProximaNova-Semibold/Proxima-Nova_Semibold.ttf') format('truetype'),
    url('/fonts/Proxima-Nova/ProximaNova-Semibold/Proxima-Nova_Semibold.otf') format('opentype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-display: swap;
    font-family: 'Proxima Nova';
    src: url('/fonts/Proxima-Nova/ProximaNova-Thin/Proxima-Nova_Thin.woff2') format('woff2'),
    url('/fonts/Proxima-Nova/ProximaNova-Thin/Proxima-Nova_Thin.woff') format('woff'),
    url('/fonts/Proxima-Nova/ProximaNova-Thin/Proxima-Nova_Thin.otf') format('opentype'),
    url('/fonts/Proxima-Nova/ProximaNova-Thin/Proxima-Nova_Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}
