html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-tap-highlight-color: transparent;
    background-color: #FFFFFF;
    color-scheme: only light;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #FFFFFF;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #FFFFFF;
    }
}

body {
    width: 100%;
}

html {
    overflow-x: hidden;
}


.disable-scroll {
    touch-action: none;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: auto;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


input, textarea {
    -webkit-appearance: none;
}

.fixed {
    width: 100vw;
    position: fixed;
    overflow: hidden;
}

.hidden {
    animation: 0.4s slide-in ease-in-out forwards;
}

@keyframes slide-down {
    from {
        bottom: -50px;
    }
    60% {
        bottom: -50px;
    }
    to {
        bottom: 15px;
    }
}

@keyframes slide-in {
    from {
        bottom: 15px;
    }
    20% {
        bottom: -50px;
    }
    to {
        bottom: -50px;
    }
}

#nprogress .bar {
    background: #232323 !important;
}

.fslightbox-fade-in-strong {
    animation: none !important;
}


.fslightbox-fade-in-strong {
    animation: none !important;
}

.fslightbox-open {
    overflow: hidden !important;
    height: 100%;
}

:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87
}

p.has-background {
    padding: 20px 38px
}

p.has-text-color a {
    color: inherit
}


body.modal {
    position: fixed;
    overflow: hidden;
}

html.modal {
    position: fixed;
    overflow: hidden auto;
}

html.sticky {
    overflow: visible;
}